<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoort" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Voeg student toe</title>
    </head>
    <body>
        <form action="/students/add" method="post">
        <input type="text" placeholder="naam" name="naam">
        <input type="text" placeholder="geboortedatum" name="geboortedatum">
        <input type="text" placeholder="studierichting" name="studierichting">
        <button type="submit">Toevoegen</button>
    </form>
</body>
</html>