<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoort" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Studenten</title>
    </head>
    <body>
        <% students.forEach(student =>{ %> 
    <ul>
        <li>Naam: <%= student.naam %></li>
        <li>Geboortedatum: <%= student.geboortedatum %></li>
        <li>Studierichting: <%= student.studierichting %></li>
    </ul>
    <% }) %>
    <a href="/students/add">Voeg student toe</a>
    </body>

</html>